<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Final_Year_Project"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Search_Topic_Activity"
            android:exported="false" />
        <activity
            android:name=".HelpDesk_Activity"
            android:exported="false" />
        <activity
            android:name=".Faculty_List_Activity"
            android:exported="false" />
        <activity
            android:name=".ForgettenPassword_Activity"
            android:exported="false" />
        <activity
            android:name=".Acadamic_Calander_Course"
            android:exported="false" />
        <activity
            android:name=".Quiz_Warning_Page"
            android:exported="false" />
        <activity
            android:name=".Course_Co_Quiz_Activity"
            android:exported="false" />
        <activity
            android:name=".Course_Quiz"
            android:exported="false" />
        <activity
            android:name=".Quiz_Activity"
            android:exported="false" />
        <activity
            android:name=".Course_Notes_Activity"
            android:exported="false" />
        <activity
            android:name=".MyNotes_View_Activity"
            android:exported="false" />
        <activity
            android:name=".Shared_Notes_Activity"
            android:exported="false" />
        <activity
            android:name=".MyNotes_Activity"
            android:exported="false" />
        <activity
            android:name=".Class_Notes_Activity"
            android:exported="false" />
        <activity
            android:name=".Acadamic_Calander_Activity"
            android:exported="false" />
        <activity
            android:name=".Notes_Activity"
            android:exported="false" />
        <activity
            android:name=".More_Profile"
            android:exported="false" />
        <activity
            android:name=".Profile_Activity"
            android:exported="false" />
        <activity
            android:name=".Announcement_Activity"
            android:exported="false" />
        <activity
            android:name=".Main_Activity"
            android:exported="false" />
        <activity
            android:name=".LMS"
            android:exported="false" />
        <activity
            android:name=".ERP"
            android:exported="false" />
        <activity
            android:name=".Login_Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>